.contai{
    background-image: linear-gradient(to right top, #ff8000, #d85c27, #aa402f, #782c2d, #461c22, #42212b, #3d2531, #382a35, #564963, #676e98, #6499ce, #47c7fc);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
}

.btn3{
    background-color: transparent;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    background-color: transparent;
    padding: 10%;
    border-radius: 10%;
}

.btn3:hover{
    border-color: #47c7fc;
    background-color: #47c7fc;
    box-shadow: 0px 0px 29px 6px #47c7fc;
    color: black;
}

.btn_volver2{
    width: 140%;
}