.navbar{
    background-color: #000000;
}

.Link{
    text-decoration: none;
}

.navbar-toggler-icon{
    background-image: url('https://cdn0.iconfinder.com/data/icons/user-interface-150/24/List_menu_toggle-512.png');
}

.navbar-toggler-icon-nav{
    background-image: url('https://www.clipartmax.com/png/full/36-365828_navbar-toggle-icon-menu-hamburger-png-white.png');
}

.nav-link{
    color: white;
    font-size: large !important;
    cursor: pointer;
}

.nav-link:hover{
    color: #838383;
}

.btn-search{
    border-color: #fcfcfc;
    color: #ffffff;
    transition: 200ms all;
    -webkit-transition: 200ms all;
    -moz-transition: 200ms all;
    -ms-transition: 200ms all;
    -o-transition: 200ms all;
}

.btn-search:hover{
    border-color: #838383;
    background-color: #838383;
}

.logoNav{
    max-height: 50px;
    max-width: auto;
}

.Links{
    text-decoration: none;
}

.navbar-collapse{
}





